<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>缘中秀在线排盘系统</title>
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
    h3 {
      font-weight: bold;
    }
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
    .sub-edit-div {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .sub-major-edit-div {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .indent {
      padding-left: 20px;
    }

    .sub-edit-div .sub-edit-input {
      margin-left: 15px;
      width: 300px;
    }
  </style>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            	<div class="container">
            		<div class="navbar-header">
            			<a class="navbar-brand" href="/">缘中秀在线排盘系统</a>
            		</div>
            	</div>
            </nav>

            <!-- Main jumbotron for a primary marketing message or call to action -->

            <div class="container" style="margin-top:20px; ">
              <div class="login-div">
              <h2 class="txt-cntr">输入密码登录解析编辑界面</h2>
              <div class="row">
                <div class="login-head txt-cntr col-sm-4">
                    <form class="" id="login-form" action="/jiexi" method="post">
                        <div class="fl clr d-i-b">
                            <input class="form-control" type="password" name="password" value=""/>
                        </div>
                        <div class="txt-cntr clr submit-button">
                            <input class="btn btn-default" type="submit" value="确定" style="margin-top: 6px;"/>
                        </div>
                    </form>
                </div>
              </div>
              </div>
              <div class='edit-div' style="display: none;">
              
              <div class="txt-cntr clr submit-button">
                  <button class="btn btn-lg btn-default submit-edit" style="font-weight: bold;margin-top: 6px;">提交修改</button>
                  <span style="color: red;">注：释义中不可包含双引号(")以及回车。如需在释义中换行可使用<i>&lt;br&gt;</i></span>
              </div>
              </div>
            </div>

            <script src="js/vendor/jquery-1.11.2.min.js"></script>
            <script src="js/vendor/jquery-ui.min.js"></script>
            <script src="js/vendor/bootstrap.min.js"></script>
            <script type="text/javascript" src="js/jiexi.js"></script>
        </body>
        </html>
