

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body {
  overflow-x: hidden;
}
body {
  position: relative
}






#ljms_DIV_1 {
    font-family: 'Times New Roman';
    height: 439px;
    width: 350px;
    perspective-origin: 175px 219.5px;
    -webkit-perspective-origin: 175px 219.5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 175px 219.5px;
    -webkit-transform-origin: 175px 219.5px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
}/*#ljms_DIV_1*/

#ljms_DIV_2 {
    background-image: url(/img/cs_main_tbg.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    font-family: 'Times New Roman';
    height: 356px;
    width: 354px;
    perspective-origin: 177px 178px;
    -webkit-perspective-origin: 177px 178px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 177px 178px;
    -webkit-transform-origin: 177px 178px;
    background: rgba(0, 0, 0, 0) url(/img/cs_main_tbg.png) no-repeat scroll 50% 50% / auto padding-box border-box;
    font: normal normal normal normal 12px/normal 'Times New Roman';
}/*#ljms_DIV_2*/

#ljms_FORM_3 {
    font-family: 'Times New Roman';
    height: 155px;
    left: 80px;
    margin-bottom: 0px;
    position: relative;
    top: 90px;
    width: 245px;
    perspective-origin: 122.5px 77.5px;
    -webkit-perspective-origin: 122.5px 77.5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 122.5px 77.5px;
    -webkit-transform-origin: 122.5px 77.5px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
    margin: 0px;
}/*#ljms_FORM_3*/

#ljms_INPUT_4, #ljms_INPUT_5, #ljms_INPUT_44 {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-style: none;
    border-left-width: 0px;
    border-right-style: none;
    border-right-width: 0px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: content-box;
    display: none;
    height: auto;
    padding-bottom: 0px;
    padding-top: 0px;
    width: auto;
    -webkit-appearance: none;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 0px none rgb(0, 0, 0);
    border-left: 0px none rgb(0, 0, 0);
    border-width: 0px;
    border-style: none;
    padding: 0px;
    -webkit-border-after: 0px none rgb(0, 0, 0);
    -webkit-border-before: 0px none rgb(0, 0, 0);
    -webkit-border-end: 0px none rgb(0, 0, 0);
    -webkit-border-start: 0px none rgb(0, 0, 0);
}/*#ljms_INPUT_4, #ljms_INPUT_5, #ljms_INPUT_44*/

#ljms_LI_6 {
    font-family: 'Times New Roman';
    height: 28px;
    list-style-type: none;
    padding-bottom: 10px;
    width: 254px;
    perspective-origin: 127px 19px;
    -webkit-perspective-origin: 127px 19px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 127px 19px;
    -webkit-transform-origin: 127px 19px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
    list-style: none outside none;
    padding: 0px 0px 10px;
}/*#ljms_LI_6*/

#ljms_LABEL_7, #ljms_LABEL_18 {
    display: inline-block;
    font-family: 'Times New Roman';
    font-size: 14px;
    font-weight: bold;
    height: 17px;
    list-style-type: none;
    text-align: right;
    width: 68px;
    perspective-origin: 34px 8.5px;
    -webkit-perspective-origin: 34px 8.5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 34px 8.5px;
    -webkit-transform-origin: 34px 8.5px;
    font: normal normal bold normal 14px/normal 'Times New Roman';
    list-style: none outside none;
}/*#ljms_LABEL_7, #ljms_LABEL_18*/

#ljms_INPUT_8 {
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgb(216, 212, 212) 1px 1px 0px 0px;
    box-sizing: content-box;
    height: 24px;
    list-style-type: none;
    vertical-align: middle;
    width: 80px;
    -webkit-appearance: none;
    -webkit-box-shadow: rgb(216, 212, 212) 1px 1px 0px 0px;
    perspective-origin: 58.5px 14px;
    -webkit-perspective-origin: 58.5px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 58.5px 14px;
    -webkit-transform-origin: 58.5px 14px;
    border: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    list-style: none outside none;
    -webkit-border-after: 1px solid rgb(204, 204, 204);
    -webkit-border-before: 1px solid rgb(204, 204, 204);
    -webkit-border-end: 1px solid rgb(204, 204, 204);
    -webkit-border-start: 1px solid rgb(204, 204, 204);
}/*#ljms_INPUT_8*/

#ljms_LI_9 {
    font-family: 'Times New Roman';
    height: 44px;
    list-style-type: none;
    padding-bottom: 10px;
    width: 254px;
    perspective-origin: 127px 27px;
    -webkit-perspective-origin: 127px 27px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 127px 27px;
    -webkit-transform-origin: 127px 27px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
    list-style: none outside none;
    padding: 0px 0px 10px;
}/*#ljms_LI_9*/

#ljms_LABEL_10 {
    display: block;
    float: left;
    font-family: 'Times New Roman';
    font-size: 14px;
    font-weight: bold;
    height: 17px;
    list-style-type: none;
    padding-top: 15px;
    text-align: right;
    width: 68px;
    perspective-origin: 34px 16px;
    -webkit-perspective-origin: 34px 16px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 34px 16px;
    -webkit-transform-origin: 34px 16px;
    font: normal normal bold normal 14px/normal 'Times New Roman';
    list-style: none outside none;
    padding: 0px 0px 0px;
}/*#ljms_LABEL_10*/

#ljms_IMG_11, #ljms_IMG_12 {
    font-family: 'Times New Roman';
    height: 40px;
    list-style-type: none;
    text-align: left;
    width: 40px;
    perspective-origin: 20px 20px;
    -webkit-perspective-origin: 20px 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 20px 20px;
    -webkit-transform-origin: 20px 20px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
    list-style: none outside none;
}/*#ljms_IMG_11, #ljms_IMG_12*/

#ljms_INPUT_13 {
    background-color: rgba(0, 0, 0, 0);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-style: none;
    border-left-width: 0px;
    border-right-style: none;
    border-right-width: 0px;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: content-box;
    display: none;
    height: auto;
    list-style-type: none;
    padding-bottom: 0px;
    padding-top: 0px;
    width: auto;
    -webkit-appearance: none;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    border-top: 0px none rgb(0, 0, 0);
    border-right: 0px none rgb(0, 0, 0);
    border-bottom: 0px none rgb(0, 0, 0);
    border-left: 0px none rgb(0, 0, 0);
    border-width: 0px;
    border-style: none;
    list-style: none outside none;
    padding: 0px;
    -webkit-border-after: 0px none rgb(0, 0, 0);
    -webkit-border-before: 0px none rgb(0, 0, 0);
    -webkit-border-end: 0px none rgb(0, 0, 0);
    -webkit-border-start: 0px none rgb(0, 0, 0);
}/*#ljms_INPUT_13*/

#ljms_LI_14 {
    font-family: 'Times New Roman';
    height: 24px;
    list-style-type: none;
    padding-bottom: 10px;
    width: 254px;
    perspective-origin: 127px 17px;
    -webkit-perspective-origin: 127px 17px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 127px 17px;
    -webkit-transform-origin: 127px 17px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
    list-style: none outside none;
    padding: 0px 0px 10px;
}/*#ljms_LI_14*/

#ljms_LABEL_15 {
    display: inline-block;
    font-family: 'Times New Roman';
    font-size: 14px;
    font-weight: bold;
    height: 17px;
    list-style-type: none;
    margin-right: 5px;
    text-align: right;
    width: 68px;
    perspective-origin: 34px 8.5px;
    -webkit-perspective-origin: 34px 8.5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 34px 8.5px;
    -webkit-transform-origin: 34px 8.5px;
    font: normal normal bold normal 14px/normal 'Times New Roman';
    list-style: none outside none;
    margin: 0px 5px 0px 0px;
}/*#ljms_LABEL_15*/

#ljms_INPUT_16 {
    background-image: url(/img/datePicker.gif);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(153, 153, 153);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(153, 153, 153);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(153, 153, 153);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgb(216, 212, 212) 1px 1px 0px 0px;
    box-sizing: content-box;
    height: 20px;
    list-style-type: none;
    vertical-align: middle;
    width: 80px;
    -webkit-appearance: none;
    -webkit-box-shadow: rgb(216, 212, 212) 1px 1px 0px 0px;
    perspective-origin: 58.5px 12px;
    -webkit-perspective-origin: 58.5px 12px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 58.5px 12px;
    -webkit-transform-origin: 58.5px 12px;
    background: rgb(255, 255, 255) url(/img/datePicker.gif) no-repeat scroll 100% 50% / auto padding-box border-box;
    border: 1px solid rgb(153, 153, 153);
    border-top: 1px solid rgb(153, 153, 153);
    border-right: 1px solid rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    border-left: 1px solid rgb(153, 153, 153);
    border-width: 1px;
    border-color: rgb(153, 153, 153);
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    list-style: none outside none;
    -webkit-border-after: 1px solid rgb(153, 153, 153);
    -webkit-border-before: 1px solid rgb(153, 153, 153);
    -webkit-border-end: 1px solid rgb(153, 153, 153);
    -webkit-border-start: 1px solid rgb(153, 153, 153);
}/*#ljms_INPUT_16*/

#ljms_LI_17 {
    font-family: 'Times New Roman';
    height: 19px;
    list-style-type: none;
    padding-bottom: 10px;
    width: 254px;
    perspective-origin: 127px 14.5px;
    -webkit-perspective-origin: 127px 14.5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 127px 14.5px;
    -webkit-transform-origin: 127px 14.5px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
    list-style: none outside none;
    padding: 0px 0px 10px;
}/*#ljms_LI_17*/

#ljms_SELECT_19 {
    list-style-type: none;
    width: 96px;
    perspective-origin: 48px 9.5px;
    -webkit-perspective-origin: 48px 9.5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 48px 9.5px;
    -webkit-transform-origin: 48px 9.5px;
    list-style: none outside none;
}/*#ljms_SELECT_19*/

#ljms_OPTION_20, #ljms_OPTION_21, #ljms_OPTION_23, #ljms_OPTION_25, #ljms_OPTION_27, #ljms_OPTION_29, #ljms_OPTION_31, #ljms_OPTION_33, #ljms_OPTION_35, #ljms_OPTION_37, #ljms_OPTION_39, #ljms_OPTION_41, #ljms_OPTION_43 {
    cursor: default;
    font-family: Arial;
    font-size: 13.3333330154419px;
    height: auto;
    list-style-type: none;
    min-height: 16px;
    width: auto;
    align-self: center;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    font: normal normal normal normal 13.3333330154419px/normal Arial;
    list-style: none outside none;
}/*#ljms_OPTION_20, #ljms_OPTION_21, #ljms_OPTION_23, #ljms_OPTION_25, #ljms_OPTION_27, #ljms_OPTION_29, #ljms_OPTION_31, #ljms_OPTION_33, #ljms_OPTION_35, #ljms_OPTION_37, #ljms_OPTION_39, #ljms_OPTION_41, #ljms_OPTION_43*/

#ljms_OPTION_22, #ljms_OPTION_24, #ljms_OPTION_28, #ljms_OPTION_32, #ljms_OPTION_36, #ljms_OPTION_40 {
    cursor: default;
    font-family: Arial;
    font-size: 13.3333330154419px;
    height: auto;
    list-style-type: none;
    min-height: 16px;
    width: auto;
    align-self: center;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    font: normal normal normal normal 13.3333330154419px/normal Arial;
    list-style: none outside none;
}/*#ljms_OPTION_22, #ljms_OPTION_24, #ljms_OPTION_28, #ljms_OPTION_32, #ljms_OPTION_36, #ljms_OPTION_40*/

#ljms_OPTION_26, #ljms_OPTION_30, #ljms_OPTION_38 {
    cursor: default;
    font-family: Arial;
    font-size: 13.3333330154419px;
    height: auto;
    list-style-type: none;
    min-height: 16px;
    width: auto;
    align-self: center;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    font: normal normal normal normal 13.3333330154419px/normal Arial;
    list-style: none outside none;
}/*#ljms_OPTION_26, #ljms_OPTION_30, #ljms_OPTION_38*/

#ljms_OPTION_34, #ljms_OPTION_42 {
    cursor: default;
    font-family: Arial;
    font-size: 13.3333330154419px;
    height: auto;
    list-style-type: none;
    min-height: 16px;
    width: auto;
    align-self: center;
    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    font: normal normal normal normal 13.3333330154419px/normal Arial;
    list-style: none outside none;
}/*#ljms_OPTION_34, #ljms_OPTION_42*/

#ljms_DIV_45 {
    font-family: 'Times New Roman';
    padding-left: 30px;
    padding-top: 35px;
    width: 320px;
    perspective-origin: 175px 17.5px;
    -webkit-perspective-origin: 175px 17.5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 175px 17.5px;
    -webkit-transform-origin: 175px 17.5px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
    padding: 35px 0px 0px 30px;
}/*#ljms_DIV_45*/

#ljms_LI_46 {
    float: left;
    font-family: 'Times New Roman';
    height: 48px;
    list-style-type: none;
    padding-right: 30px;
    text-align: center;
    width: 134px;
    perspective-origin: 82px 24px;
    -webkit-perspective-origin: 82px 24px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 82px 24px;
    -webkit-transform-origin: 82px 24px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
    list-style: none outside none;
    padding: 0px 30px 0px 0px;
}/*#ljms_LI_46*/

#ljms_IMG_47, #ljms_IMG_50 {
    cursor: pointer;
    font-family: 'Times New Roman';
    height: 44px;
    list-style-type: none;
    text-align: center;
    width: 106px;
    perspective-origin: 53px 22px;
    -webkit-perspective-origin: 53px 22px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 53px 22px;
    -webkit-transform-origin: 53px 22px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
    list-style: none outside none;
}/*#ljms_IMG_47, #ljms_IMG_50*/

#ljms_IMG_48, #ljms_IMG_51 {
    font-family: 'Times New Roman';
    height: 28px;
    list-style-type: none;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: bottom;
    width: 28px;
    perspective-origin: 14px 14px;
    -webkit-perspective-origin: 14px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 14px 14px;
    -webkit-transform-origin: 14px 14px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
    list-style: none outside none;
    margin: 0px 0px 10px;
}/*#ljms_IMG_48, #ljms_IMG_51*/

#ljms_LI_49 {
    float: left;
    font-family: 'Times New Roman';
    height: 48px;
    list-style-type: none;
    text-align: center;
    width: 134px;
    perspective-origin: 67px 24px;
    -webkit-perspective-origin: 67px 24px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform-origin: 67px 24px;
    -webkit-transform-origin: 67px 24px;
    font: normal normal normal normal 12px/normal 'Times New Roman';
    list-style: none outside none;
}/*#ljms_LI_49*/

.sexRadio {

}

.form-control {
	display: inline-block;
	
}

#ljms_SELECT_19 {
	width: 108px !important;
	padding: 6px 0px;
}

.ui-datepicker-month, .ui-datepicker-year {
	color: black;
}




